#tapete{
border:5px ridge gray;
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
padding:1em;}

.drag{
width:120px;
height:120px;
background:lime;
border-radius:50%;
background-image:url('moneda.png');
background-size:cover;
}
.drop{
width:120px;
height:120px;
border-radius:50%;
border:1px dotted black;

}
/* #a1{background:red;}
#a2{background:blue;}
#a3{background:yellow;}
#a4{background:orange;} */



/* .drag.ui-draggable-dragging { 
background: olive; 
} */
.exito{

color:red
}